<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <title>Queen</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Queen Attack!</h1>
                <p>Will the queen defeat her opponent?</p>
            </div>
            <img src="img/chess_board.jpeg" alt="picture of a chess board" />
            {% }
        </div>

    </body>
</html>
